
<h1>
    GemBox Demo
</h1>

<a asp-controller="home" asp-action="download" class="btn btn-primary">
    Download DOCX
</a>

<a asp-controller="home" asp-action="DownloadPdf" class="btn btn-primary">
    Download PDF
</a>

<a asp-controller="home" asp-action="DownloadMailMerge" class="btn btn-primary">
    Download MailMerge
</a>